<h1>Home</h1>
<hr>
<h2>Create a room</h2>
<form id="createRoomForm">
  <input type="text" id="roomName" placeholder="Enter room name">
  <button type="submit">Create Room</button>
</form>
<h2>Rooms</h2>
<div id="roomList"></div>

<script src="/index.js"></script>
