<h1>Room: {{ roomName }}</h1>
<p>This is a demo of chatroom page</p>
<p>The room you are visiting is {{ roomName }}</p>
<p>To generate a new room, here is the room id: {{ newRoomId }}</p>

<div id="messages">
  <!-- Messages will be loaded here by JavaScript -->
</div>

<form id="messageForm">
    <input type="text" id="nickname" placeholder="Enter your nickname" required>
    <input type="text" id="messageText" placeholder="Enter your message" required>
    <button type="submit">Send</button>
</form>


<script src="/index.js"></script>
